

/******************************************************
FONTS
font-family: 'Bitter', serif;
font-family: 'Baloo', cursive;
font-family: 'Handlee', cursive;
******************************************************/
body h1, h2, h3, h4, h5, h6, span, p{font-family: 'Bitter', serif;}
/*--Font Classes--*/
.font-handlee{font-family: 'Handlee', cursive;}
.font-med{font-size: 1.5rem}
.font-large{font-size: 2rem}


/******************************************************

	Colors 
		Medium Orange font RGB(225, 87, 26)
		Medium Blue Background RGB(91, 139, 149)
		Light Green Background RGB(236, 250, 244)
		Light Orange NavBar RGB(247, 148, 29)
		Off Black Font RGB(51,51,51)
		Dark Off Black Font RGB(26,23,23)
		Medium Green RGB(55,92,66)	
		light grey green background RGB(161,170,166)
		
*********************************************************/
/* ---- Color Classes ----*/

.light-orange-font{color: rgb(247, 148, 29);}
.light-orange-bg{background-color: rgb(247, 148, 29);}
.med-orange-font{color: rgb(225, 87, 26);}
.med-orange-bg{background-color: RGB(225, 87, 26);}
.med-blue-font{color: RGB(91, 139, 149);}
.med-blue-bg{background-color: RGB(91, 139, 149);}
.light-green-font{color: RGB(236, 250, 244);}
.light-green-bg{background-color: RGB(236, 250, 244);}
.med-green-font{color: RGB(55,92,66);}
.med-green-bg{background-color: RGB(55,92,66);}
.off-black-font{color: rgb(51,51,51);}
.off-black-bg{background-color: RGB(51,51,51);}
.dark-off-black-font{color: rgb(26,23,23);}
.dark-off-black-bg{background-color: rgb(26,23,23);}

/******************Shared object Ids********************/
 /*---- Header ----*/
#main-nav-bar {justify-content: center; text-align: center;}
#main-nav-bar a{
	font-size: 2rem;

}
.menu .active {background: RGB(51,51,51);}

/*---- Body ----*/


/*---- Footer ----*/
footer{
	min-height: 300px;
	padding: 80px 0;
}

















/* Small only */
@media screen and (max-width: 39.9375em) {}
	
/* Medium and up */
@media screen and (min-width: 40em) {}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}



