@import 'settings';
@import 'util/mixins';

$sectionpadding:75px;
$sectionmargin:10px;

section{margin-top: $sectionmargin;}

#jumbotron{
	min-height: 500px;
	min-width: 250px;
	background-color: $bright-blue;
}
#specials-ad{
	position: relative;
	background-color: $sangria;
	text-align: center;
	padding: 60px 0px;
	max-width: 340px;
	min-width: 250px;
	max-height: 250px;
	/* 
	min-width:350px; 
	max-width:570px; */

	hr{border-top: 8px double $light-orange;
	}
	h3{	color: $peach;}
	h4{ 
		i{font-size: 1em; color: inherit; position:inherit;}
		color: $peach;
	}

	i{
		font-size: 3em;
		position: absolute;
		z-index: 0;
		color: $peach;
	}
	$side-pos:15px;
	$top-pos:0px;
	.top-l{top:0; left:$side-pos;}
	.top-r{top:0; right:$side-pos;}
	.bottom-l{bottom: 0; left:$side-pos;}
	.bottom-r{bottom: 0; right:$side-pos;}
	.center{
		position: absolute;
		bottom:40;
		text-align: center;
 		font-size: 5rem;
	}

}

#ad-bar-1{
	max-width:1200px;
	
	padding: $sectionpadding 0px;

	i{font-size:10rem; line-height:1rem;}
	.ad-card{
		min-width:242px; 
		max-width: 410px; 
		min-height:400px; 
		background-color: $light-green;
		margin-bottom: 0px;

	}
	/* background-color: $bright-green; */

}
#ad-bar-2{
	background-color: $med-blue;
	padding: $sectionpadding 0px;
	#quote-box{
		min-width:242px;
		max-width: 410px;
		img{align-content: center;}

	}	
}
#ad-bar-3{
	z-index: -10;
	position: relative;
	padding: $sectionpadding 0px;
	background-color: $sangria;
	color:$white;
	h3{z-index: 20;position: relative;}
	h2{z-index: 20;position: relative;}
	img{min-width: 250px; padding: 20px 0; z-index: 20;position: relative;}
	i{
		font-size: 7em;
		position: absolute;
		z-index: 0;
		color: $peach;
	}
	div{position: relative;}
	$side-pos:30px;
	$top-pos:0px;
	.top-l{top:0; left:$side-pos;}
	.top-r{top:0; right:$side-pos;}
	.bottom-l{bottom: 0; left:$side-pos;}
	.bottom-r{bottom: 0; right:$side-pos;}
	.center{
		position: absolute;
		bottom:40;
		text-align: center;
 		font-size: 25rem;
	}
}
#how-it-works{
	.section-title{
		background-color: $light-orange;
		padding: $sectionpadding 0px;
		h2{
			
			font-size: 3rem;
		}
	}
	.how-to-card{
		background-color: $med-blue;
		padding: 0px;
		min-height:400px; 
		background-color: $light-green;
		.card-section{
			background-color: $med-blue;
		}
		p{
			text-align: left;
			padding: 10px;
		}
	}
}



#highlights-box{
	
	height:450px;
	min-width: 380px;
	
	.speech-bubble{
		/* @include flex-align(center, center); */
		position: relative;
		/* Border radius of 30px | Border Thickness of 10px */
		border-radius: 30px 30px 30px 30px;
		-moz-border-radius: 30px 30px 30px 30px;
		-webkit-border-radius: 30px 30px 30px 30px;
		border: 10px solid $light-green;

		background-color: $light-green;
		min-height:300px;
		padding-left: 20px;

		h3{font-size: 3em; text-align: left;} 
	}
	.talking-head{
		position: absolute;
		bottom: -150px;
		right: -50px;
		width: 200px;
		height: 200px;		
	}
}


.circle-number{
	display: inline-block;
	$circle-size: 75px;
	position: relative;
	height:$circle-size;
	width: $circle-size;
	border-radius: 50%;
	background-color: $light-orange;	
	line-height:$circle-size;
	font-size: $circle-size;
		
	
}

