
.intro-container{
	
}
#intro-frame-1{
	width: 100%;
	background-color: $black;
	background: url(../images/rain_med.jpeg);
	background-size: auto 150%;
	background-repeat: no-repeat;
	position: absolute;
}
#intro-frame-2{
	width: 100%;
	background-color: $black;
	background: url(../images/sun_med.jpeg);
	background-size: auto 150%;
	background-repeat: no-repeat;
}
.wording-container{
	color: $white;
	font-size: $large-font;
	
	p{}
}