@import 'settings';
@import 'util/mixins';


.topic{
	padding-top: 50px;
	color:$off-black;
	p{@include callout($white); }

	@include breakpoint(small only)
	{
		@include flex-grid-column(12);	
		p{ padding: 50px 15px;}
	}
	@include breakpoint(medium only)
	{
		@include flex-grid-column(10);
		p{ padding: 50px;}

	}
	@include breakpoint(large up)
	{
		@include flex-grid-column(8);
		p{ padding: 50px;}		
	}
	
	h2{
		@include flex-grid-column(12);
		padding-top: 10px;
		text-align: right;
	}
	
	a{}
	hr{}

}

.link-to-top{text-align: center; color: $off-black; }



/* ********** SASS FOR Special Offer Page *************************
						Please Re-do							 */
.full-width-text-ad{
	.row{margin:0px; padding:0px;} 
	h3{font-family: $handlee;}
	strong{color:$dark-off-black;}
	button{margin: .5rem;}
}
/* Small only */
@media screen and (max-width: 39.9375em) {
.full-width-text-ad{
	div{}
	p{padding: 0 0.0rem;color: $off-black;  min-width:400px; max-width: 800px}
	a{color:$med-blue;}
	h1{padding:1rem 0;}
	h2{padding:1rem 0;}
	h3{padding:0.5rem 0; padding-top: 1rem;}
	span{font-size: $large-font*0.9; color: $med-orange; margin-left: 0;}
	.side-text{
		max-width: 500px;
		min-width: 100px;
		color: $off-black;
	}
}}

/* Medium and up */
@media screen and (min-width: 40em) {
	.full-width-text-ad{
	div{}
	p{padding: 0 1rem;color: $off-black; min-width:400px; max-width: 800px}
	a{}
	/* a:hover{color:$light-orange;} */
	h1{padding:2rem 0; }
	h2{padding:1rem 0;}
	h3{padding:1rem 0; padding-top: 1rem;}
	span{font-size: $large-font; color: $med-orange;}
	.side-text{
		max-width: 500px;
		min-width: 100px;
		color: $off-black;
	}
}}

/* ***************************************************** */