//_variables
//Colors
$light-orange: #F7941D;
$med-orange: #E1571A;
$med-blue: #5B8B95;
$light-green: #ECFAF4;
$med-green: #375C42;
$off-black: #333333;
$dark-off-black: #1A1717;

//Fonts
$bitter: 'Bitter', serif;
$handlee: 'Handlee', cursive;
$baloo: 'Baloo', cursive;

$font-med: 1.5rem;
$font-lrg: 2rem;